<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Harshad Yadav. It uses data from mapbox.com and darksky!</p>
        <img class="portrait" src="/img/batman.jpg">
    </div>
    {{>footer}}

</body>
</html>